# Default ignored files
/shelf/
/.idea
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.aider*
logs/
.commit0_scripts/
.github/workflows/
